* {
  padding: 0;
  margin: 0;
  font-family: monospace;
  transition: all 0.1s;
}

body {
  background-color: #021526;
}

main {
  background-color: #ffdfd6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#query {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#choice {
  background-color: #021526;
  height: 70vh;
  width: 100vw;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#white {
  height: 20vh;
  width: 20vh;
  background-color: #ffdfd6;
  color: black;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

#black {
  height: 20vh;
  width: 20vh;
  background-color: black;
  color: blanchedalmond;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

#white:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

#black:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
